@use 'sass:math';

/*-------------------------------------------------------------------------------
  media query
--------------------------------------------------------------------------------*/
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1199px;

/*-------------------------------------------------------------------------------
  font setting
--------------------------------------------------------------------------------*/
$root-font-size: 16;
$font-family: 'Noto Sans JP', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', sans-serif;
$icon-font-family: 'Material Symbols Outlined';
$font-size: 16;
$line-height: 1.8;

/*-------------------------------------------------------------------------------
  color setting
--------------------------------------------------------------------------------*/
$base-color: #ffffff;
$base-sub-color: #efefef;
$main-color: #00a0e9;
$main-sub-color: #984697;
$accent-color: #ec77ab;
$support-color: #23ac38;

$link-color: $main-color;
$font-color: #222222;
$font-sub-color: #984697;
$font-reverse-color: $base-color;
$border-color: $font-color;

$placeholder-color: #d5d5d5;
$alert-color: #e75b74;
$alert-bg: rgba($alert-color, 0.1);

/*-------------------------------------------------------------------------------
  space setting
--------------------------------------------------------------------------------*/
$space-size: 10px;

/*-------------------------------------------------------------------------------
  border setting
--------------------------------------------------------------------------------*/
$border-size: 1px;
$border-radius: 5px;
